[Desktop Entry]
Name=gfm
GenericName=t4gfm
Comment=fancy and modern terminal file manager
Type=Application
MimeType=inode/directory
Icon=utilities-terminal
Terminal=true
TryExec=gfm
Exec=gfm %u
Categories=Utility;System;FileTools;FileManager;Filesystem;ConsoleOnly
Keywords=File;Manager;Explorer
